@media (prefers-color-scheme: light)
{
    .nav-item:hover, .nav-item.active
    {
        background-color:#e1dfdf;
    }
    body
    {
        background-color:#e8e8e8;
        color:#10161c;
    }
    .text-bg
    {
        background-color:#f9f9f9;
        color:#10161c;
    }
    .box
    {
        background-color: #fdfdff;
        box-shadow: 0 0 1em #606060;
    }
    hr
    {
        border-color:#0002;
    }
}

@media (prefers-color-scheme: dark)
{
    .nav-item:hover, .nav-item.active
    {
        background-color:#181e24;
    }
    body
    {
        background-color:#10161c;
        color:#ddd;
    } 
    .text-bg
    {
        background-color:#181e24;
        color:#ddd;
    }
    .box
    {
        background-color: #232c34;
        box-shadow: 0 0 1em black;
    }
    hr
    {
        border-color: #fff2;
    }
}

.art
{
    max-width: 450pt;
}

@media screen and (max-width: 500pt)
{
    .nav-item
    {
        width: 100%;
    }
}

@media screen and (max-width: 600pt)
{
    .art
    {
        max-width: 100%;
    }
}

[data-info="content"]
{
    transition: opacity 1s;
}

.hidden
{
    display: none;
}

.transparent
{
    opacity: 0;
}

.text-bg
{
    padding-bottom: 3em;
}

.box
{
    padding: 1em;
    margin: 1em;
}

.code
{
    color: #e83e8c;
    margin: 0;
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    font-size: 87.5%;
}

.flower
{
    max-width: 200pt;
}

.portrait
{
    max-height: 30rem;
}

#about
{
    max-width: 45rem;
}
