# Ignore a bunch of IIS directories
custerr
history
logs
temp

# Ignore a school project
wwwroot/myself.html

# Ignore very old stuffs
wwwroot/Ancient Coding/

# Ignore cookies file
wwwroot/ContactsConverter/cookies.txt

# Ignore downloaded documentation
wwwroot/git-doc/
wwwroot/grub.html
wwwroot/libc/
wwwroot/make.html_node/
wwwroot/php-manual-en/
wwwroot/thingsThatDontWork/libcurl/
