# Ignore a bunch of IIS directories
custerr
history
logs
temp

# Ignore a school project
wwwroot/myself.html

# Ignore very old stuffs
wwwroot/Ancient Coding/

# Ignore cookies file
wwwroot/ContactsConverter/cookies.txt

# Ignore pics
*.gif

# Ignore vscode stuff
.vscode

# Ignore binaries
obj
bin
*.exe
Integrity2gmail

*/**/__pycache__
um/env

# Ignore migrations for the time being
*/**/migrations

# Ignore static desination dir
um/static
