{% extends "base_template.html" %}
{% load filters %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md">
  </div>
  <div class="col-md">
    <form method="post" action="{% url 'login' %}" >
      {% csrf_token %}

      <h3>Login</h3>
      <hr />
      <fieldset>
        <div class="form-row form-group">
          <div class="invalid-feedback d-block">
            {{ form.non_field_errors }}
          </div>
        </div>
        <div class="form-row form-group">
          <div class="col-4 col-sm-4">
            {{ form.username.label_tag }}
          </div>
          <div class="col-8 col-sm-8">
            {{ form.username|addcssclass:'form-control' }}
            <div class="invalid-feedback d-block">
              {{ form.username.errors }}
            </div>
          </div>
        </div>
        <div class="form-row form-group">
          <div class="col-4 col-sm-4">
            {{ form.password.label_tag }}
          </div>
          <div class="col-8 col-sm-8">
            {{ form.password|addcssclass:'form-control' }}
            <div class="invalid-feedback d-block">
              {{ form.password.errors }}
            </div>
          </div>
        </div>
      </fieldset>

      <div class="form-row">
        <div class="col-sm-8"></div>
        <input type="submit" id="btn-submit" class="btn btn-primary align-self-end col-sm-3" value="Login">
        <input type="hidden" name="next" value="{{ next }}">
      </div>
    </form>
  </div>
</div>
{% endblock %}
