{% extends "accounts_base.html" %}
{% load filters %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md">
  </div>
  <div class="col-md form-side vh-100">
    <div class="v-center">
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <h3>Login</h3>
        <hr />
        <fieldset>
          <div class="form-row form-group">
            <div class="invalid-feedback d-block">
              {{ form.non_field_errors }}
            </div>
          </div>
          <div class="form-row form-group">
            <div class="col-5 col-sm-5">
              {{ form.username.label_tag }}
            </div>
            <div class="col-7 col-sm-7">
              {{ form.username|addcssclass:'form-control' }}
              <div class="invalid-feedback d-block">
                {{ form.username.errors }}
              </div>
            </div>
          </div>
          <div class="form-row form-group">
            <div class="col-5 col-sm-5">
              {{ form.password.label_tag }}
            </div>
            <div class="col-7 col-sm-7">
              {{ form.password|addcssclass:'form-control' }}
              <div class="invalid-feedback d-block">
                {{ form.password.errors }}
              </div>
            </div>
          </div>
        </fieldset>

        <div class="form-row justify-content-end">
          <div class="col"></div>
          <input type="submit" id="btn-submit" class="btn btn-primary m-1 col-sm-4" value="Login">
        </div>
        <input type="hidden" name="next" value="{{ next }}">
      </form>
      <br>
      <p>Dost thou not hast an account? <a href="{% url 'signup' %}">Signup</a></p>
    </div>
    <div class="position-absolute abs-footer">
      {% include "footer.html" %}
    </div>
  </div>
</div>
{% endblock %}
