{% extends "accounts_base.html" %}
{% load filters %}

{% block content %}

<div class="row">
  <div class="col-md">
  </div>
  <div class="col-md">

    <form method="post" action="{% url 'signup' %}" class="v-center">
      {% csrf_token %}

      <h3>Sign Up</h3>
      <hr />
      <fieldset>
        <div class="form-row form-group">
          <div class="invalid-feedback d-block">
            {{ form.non_field_errors }}
          </div>
        </div>
        <div class="form-row form-group">
          <div class="col-5 col-sm-5">
            {{ form.username.label_tag }}
          </div>
          <div class="col-7 col-sm-7">
            {{ form.username|addcssclass:'form-control' }}
            <div class="invalid-feedback d-block">
              {{ form.username.errors }}
            </div>
          </div>
        </div>
        <div class="form-row form-group">
          <div class="col-5 col-sm-5">
            <label for="email">Email:</label>
          </div>
          <div class="col-7 col-sm-7">
            <input type="email" name="email" class="form-control">
            <div class="invalid-feedback d-block">
              {{ form.email.errors }}
            </div>
          </div>
        </div>
        <div class="form-row form-group">
          <div class="col-5 col-sm-5">
            {{ form.password1.label_tag }}
          </div>
          <div class="col-7 col-sm-7">
            {{ form.password1|addcssclass:'form-control' }}
            <div class="invalid-feedback d-block">
              {{ form.password1.errors }}
            </div>
          </div>
        </div>
        <div class="form-row form-group">
          <div class="col-5 col-sm-5">
            {{ form.password2.label_tag }}
          </div>
          <div class="col-7 col-sm-7">
            {{ form.password2|addcssclass:'form-control' }}
            <div class="invalid-feedback d-block">
              {{ form.password2.errors }}
            </div>
          </div>
        </div>
      </fieldset>

      <div class="form-row">
        <div class="col-sm-8"></div>
        <input type="submit" id="btn-submit" class="btn btn-primary align-self-end col-sm-3" value="Sign up">
      </div>
    </form>
  </div>
</div>
{% endblock %}
