<!DOCTYPE html>
<html lang='en-US'>
<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="https://adoodleydo.dev/bootstrap/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="https://adoodleydo.dev/css/index.css" type="text/css" />
<style>
  .not-footer {
    min-height: 94vh;
  }
</style>

{% load filters %}

{% block header %}{% endblock %}

<title>{% block title %}{% endblock %}</title>
<body>
  <div class="not-footer">
    <nav>
      {% block nav %}{% endblock %}
    </nav>
    {% block content %}{% endblock %}
  </div>
  {% block footer %}{% endblock %}
</body>
</html>
