<!DOCTYPE html>
<html lang='en-US'>
<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="http://127.0.0.1/bootstrap/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="http://127.0.0.1/css/index.css" type="text/css" />

{% load filters %}

{% block header %}{% endblock %}

<title>{% block title %}{% endblock %}</title>
<body>
  <nav>
    {% block nav %}{% endblock %}
  </nav>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
