.child-w-100 input, .child-w-100 select {
    width: 100%;
}

.required:before {
    content: '*'
}

.custom-control-label {
    transform: scale(2);
    left: 2.3rem;
    bottom: 0.7rem;
}

#formsContainer:empty + #formInfo {
    display: block;
}

#formsContainer + #formInfo {
    display: none;
}

#mainGraphContainer {
    max-width: 30rem;
}

#noDataMsg {
    border-style: dashed;
    border-radius: 0.5rem;
    border-width: 3px;
}

.inline-form {
    width: 7rem !important;
    display: inline;
}

.asky-form {
    line-height: 3rem;
}
