.child-w-100 input, .child-w-100 select {
    width: 100%;
}

.required:before {
    content: '*'
}

.custom-control-label {
    transform: scale(2);
    left: 2.3rem;
    bottom: 0.7rem;
}

#formsContainer:empty + #formInfo {
    display: block;
}

#formsContainer + #formInfo {
    display: none;
}
