.child-w-100 input, .child-w-100 select {
    width: 100%;
}

.required:before {
    content: '*'
}

.custom-control-label {
    transform: scale(2);
    left: 2.3rem;
    bottom: 0.7rem;
}

#formsContainer:empty + #formInfo {
    display: block;
}

#formsContainer + #formInfo {
    display: none;
}

#mainGraphContainer {
    max-width: 38rem;
}

#noDataMsg {
    border-width: 3px;
    border-style: dashed;
    border-radius: 0.5rem;
}

@media (prefers-color-scheme: light)
{
    #noDataMsg {
        border-color: #cacaca;
    }
    #id_is_repeating[value="1"] + div {
        background-color: #e1ddff;
        background: linear-gradient(90deg, #fff0, #e1ddff, #fff0);
    }
}

@media (prefers-color-scheme: dark)
{
    #noDataMsg {
        border-color: #605e5e;
    }
    #id_is_repeating[value="1"] + div {
        background-color: #172a35;
        background: linear-gradient(90deg, #fff0, #1d3442, #fff0);
    }
}

#id_num_times[value="1"] {
    visibility: hidden;
}

#id_num_times:not([value="1"])::before {
    content: "x";
}

.inline-form {
    width: 14rem;
    display: inline;
}

.asky-form {
    line-height: 3rem;
}

.text-date-control {
    width: 6rem;
}
