div.width-0 {
    display: none;
}

.hide-overflow {
    overflow: hidden;
}

canvas {
    display: block;
    margin-bottom: 1rem;
    max-width: 300px;
    margin: auto;
}

.text-card {
    padding: 0.75rem;
}

.long {
    display: block;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.skinny {
    max-width: 256pt;
    margin: 8pt;
}
