<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="blurb.txt">
        <system.webServer>
            <security>
                <requestFiltering>
                    <filteringRules>
                        <filteringRule name="block blurb" scanUrl="true" scanQueryString="false">
                            <denyStrings>
                                <add string="blurb.txt" />
                            </denyStrings>
                        </filteringRule>
                    </filteringRules>
                </requestFiltering>
            </security>
        </system.webServer>
    </location>
</configuration>
