{% extends "budget_base.html" %}
{% load filters %}

{% block header %}
{{ block.super }}
<script src="/static/js/add_transaction.js"></script>
{% endblock %}

{% block content %}
<form method="post" action="{% url 'add_transaction' %}" autocomplete="off">
  {% csrf_token %}

  <fieldset>
    <div class="form-row form-group">
      <div class="invalid-feedback d-block">
        {{ form.non_field_errors }}
      </div>
    </div>
    <div class="form-row form-group">
      <div class="col-4 col-sm-4">
        {{ form.amount.label_tag }}
      </div>
      <div class="col-8 col-sm-8">
        {{ form.amount|addcssclass:'form-control' }}
        <div class="invalid-feedback d-block">
          {{ form.amount.errors }}
        </div>
      </div>
    </div>
    <div class="form-row form-group">
      <div class="col-4 col-sm-4">
        {{ form.category.label_tag }}
      </div>
      <div class="col-8 col-sm-8">
        {{ form.category|addcssclass:'form-control' }}
        <div class="invalid-feedback d-block">
          {{ form.category.errors }}
        </div>
      </div>
    </div>
    <div class="form-row form-group">
      <div class="col-4 col-sm-4">
        {{ form.specific_place.label_tag }}
      </div>
      <div class="col-8 col-sm-8">
        {{ form.specific_place|addcssclass:'form-control' }}
        <div class="invalid-feedback d-block">
          {{ form.specific_place.errors }}
        </div>
      </div>
    </div>
    <div class="form-row form-group">
      <div class="col-4 col-sm-4" id="dateLabelContainer">
        {{ form.date.label_tag }}
      </div>
      <div class="col-8 col-sm-8">
        {{ form.date|addcssclass:'form-control' }}
        <div class="invalid-feedback d-block">
          {{ form.date.errors }}
        </div>
      </div>
    </div>
    <div class="form-row form-group">
      <div class="col-4 col-sm-4">
        <label for="is_repeating">Repeating Transaction:</label>
      </div>
      <div class="col-8 col-sm-8">
        <input type="checkbox" autocomplete="off"
          data-toggle="collapse" data-target="#collapseRepeating"
          aria-expanded="false" aria-controls="collapseRepeating" value="false"
          onchange="window.add_transaction.toggleRepeatingTransaction(event)">
      </div>
    </div>
    <div class="collapse" id="collapseRepeating">
      <div class="form-row form-group">
        <div class="col-4 col-sm-4">
          <label for="id_frequency" class="required">{{ form.frequency.label }}:</label>
        </div>
        <div class="col-8 col-sm-8">
          {{ form.frequency|addcssclass:'form-control' }}
          <div class="invalid-feedback d-block">
            {{ form.frequency.errors }}
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="form-row">
    <div class="col-sm-8"></div>
    <input type="submit" id="btn-submit" class="btn btn-primary align-self-end col-sm-3" value="Submit">
  </div>
</form>
{% endblock %}
