{% extends "base_template.html" %}

{% block header %}
<link rel="stylesheet" href="/static/css/budget.css" type="text/css">
<script src="http://127.0.0.1/js/jquery.min.js"></script>
<script src="http://127.0.0.1/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
window.addEventListener("load", function () {
	$("nav").find("a").each(function (i, e) {
		if (e.href.endsWith(window.location)) {
			e.classList.add("disabled");
			e.parentElement.classList.add("active");
		}
	});
});
</script>
{% endblock %}

{% block title %}Budget Thingy{% endblock %}

{% block nav %}
<div class="navbar navbar-dark navbar-expand-md bg-dark text-light p-0">

	<div class="mr-3 ml-3">
		<button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#collapsibleNav"
			aria-expanded="false" aria-controls="collapse" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<h5 class="mb-0 pt-1 pb-1 d-inline text-light">Budget Thingy</h5>
	</div>

	<div class="collapse navbar-collapse" id="collapsibleNav">
		<ul class="nav row m-0">
			<li class="nav-item col-md p-0">
				<a class="nav-link text-light text-center w-100 h-100 pl-0 pr-0"
					href="{% url 'index' %}">Home</a>
			</li>
			<li class="nav-item col-md p-0">
				<a class="nav-link text-light text-center w-100 h-100"
					href="{% url 'manage' %}">Budgets</a>
			</li>
			<li class="nav-item col-md p-0">
				<a class="nav-link text-light text-center w-100 h-100"
					href="{% url 'manage_repeating_tx' %}">Repeating Transactions</a>
			</li>
			<li class="nav-item col-md p-0">
				<a class="nav-link text-light text-center w-100 h-100"
					href="{% url 'logout' %}">Logout</a>
			</li>
		</ul>
	</div>
</div>
{% endblock %}

{% block content %}
{% endblock %}
