{% extends "base_template.html" %}

{% block header %}
<link rel="stylesheet" href="/static/css/budget.css" type="text/css">
<script src="http://127.0.0.1/js/jquery.min.js"></script>
<script src="http://127.0.0.1/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/app.js"></script>
<script src="http://127.0.0.1/js/light.dark.js"></script>
<script type="text/javascript">
window.addEventListener("load", function () {
	$("nav").find("a").each(function (i, e) {
		if (e.href.endsWith(window.location)) {
			e.classList.add("disabled");
			e.parentElement.classList.add("active");
		}
	});
});
</script>
{% endblock %}

{% block title %}Budget Thingy{% endblock %}

{% block nav %}
<div class="navbar navbar-expand-md p-0 mb-1">

	<div class="mr-3 ml-3">
		<button class="navbar-toggler mr-2" type="button" data-toggle="collapse" data-target="#collapsibleNav"
			aria-expanded="false" aria-controls="collapse" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<h5 class="mb-0 pt-1 pb-1 d-inline">Budget Thingy</h5>
	</div>

	<div class="collapse navbar-collapse" id="collapsibleNav">
		<div class="navbar-nav row m-0 p-0">
			<label class="nav-item col-md p-0 m-0">
				<a class="nav-link light-dark-text text-center w-100 h-100 pl-0 pr-0"
					href="{% url 'index' %}">Home</a>
			</label>
			<label class="nav-item col-md p-0 m-0">
				<a class="nav-link light-dark-text text-center w-100 h-100 pr-4 pl-4"
					href="{% url 'manage' %}">Budgets</a>
			</label>
			<label class="nav-item col-md p-0 m-0">
				<a class="nav-link light-dark-text text-center w-100 h-100 pr-4 pl-4"
					href="{% url 'manage_repeating_tx' %}">Repeating Transactions</a>
			</label>
			<label class="nav-item col-md p-0 m-0">
				<a class="nav-link light-dark-text text-center w-100 h-100 pr-4 pl-4"
					href="{% url 'history' %}">Transaction History</a>
			</label>
			<label class="nav-item col-md p-0 m-0">
				<a class="nav-link light-dark-text text-center w-100 h-100 pr-4 pl-4"
					href="{% url 'logout' %}">
				{% if request.user.id == 1 %}
					Leave Demo
				{% else %}
					Logout
				{% endif %}
				</a>
			</label>
			{% if request.user.id == 1 %}
			<label class="nav-item col-md p-0 m-0">
				<a class="nav-link light-dark-text text-center w-100 h-100 pr-4 pl-4"
					href="{% url 'signup' %}">
					Sign Up
				</a>
			</label>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
  {% include "footer.html" %}
{% endblock %}
