{% load filters %}

<div class="history_item">
  <span id="id_is_repeating" class="hidden"></span>
  <div class="row p-1 ml-1 mr-1">
    <div class="col-6 col-sm-6 child-w-100 pl-0">
      <span id="id_specific_place"></span>
    </div>
    <div class="col-3 col-sm-3 child-w-100">
      <span id="id_amount"></span>
    </div>
    <div class="col-3 col-sm-3 child-w-100 pr-0">
      <span id="id_num_times"></span>
    </div>
    <span id="id_category" class="hidden"></span>
  </div>
  <hr class="mt-0 mb-0 mr-5 ml-5 p-0">
</div>
