{% extends "budget_base.html" %}

{% block headers %}
{{ block.super }}
<link rel="stylesheet" href="/static/css/list_budget.css">
{% endblock %}

{% block content %}
<button>New</button><button>Save</button>
<ul style="list-style-type: none;">
{% for budget_modify_form in object_list %}
  <li>
    <form on>
      <div class="form-row form-group">
        <div class="col-4 col-sm-4 child-w-100">
          {{ budget_modify_form.category }}
        </div>
        <div class="col-4 col-sm-4 child-w-100">
          {{ budget_modify_form.spending_limit }}
        </div>
        <div class="col-4 col-sm-4 child-w-100">
          {{ budget_modify_form.frequency }}
        </div>
      </div>
    </form>
    </li>
{% endfor %}
</ul>
{% endblock %}
