{% extends "budget_base.html" %}
{% load filters %}

{% block header %}
{{ block.super }}
<script src="/static/js/forms.js"></script>
<script src="/static/js/cache.js"></script>
<script src="/static/js/manage.generic.js"></script>
<script src="/static/js/manage.budgets.js"></script>
{{ page.object_list|json_script:"pageData" }}
{% endblock %}

{% block content %}
<header class="mt-4">
  <h3>
    <button type="button" class="btn btn-primary"
        onclick="window.listManage.new()">+ New Budget</button>
  </h3>
</header>

{% comment %}
  These are all in a line like this until there is support for the css4 definition of ':empty'.
  The new definition will include whitespace.
{% endcomment %}
<div class="p-1" id="formsContainer"></div>
<div class="p-1" id="formInfo">
  {% csrf_token %}
  <div class="p-5 border border-secondary rounded" id="noDataMsg">
    <p class="m-5 text-center">Your budgets will appear here.</p>
  </div>
</div>

{% include "pagination.frag.html" %}

{% endblock %}
