{% extends "budget_base.html" %}
{% load filters %}

{% block header %}
{{ block.super }}
<script src="/static/js/forms.js"></script>
<script src="/static/js/cache.js"></script>
<script src="/static/js/manage.generic.js"></script>
<script src="/static/js/manage.repeating_tx.js"></script>
{{ page.object_list|json_script:"pageData" }}
{% endblock %}

{% block content %}
<header class="row m-4">
  <h3 class="text-center">
    <button type="button" class="btn btn-primary d-none"
      data-action="{% url 'repeating_tx_update_api' %}" id="newBtn"
      onclick="window.listManage.new(event)">+ New Repeating Transaction</button>
    Repeating Transactions
  </h3>
</header>

<div class="p-1" id="formsContainer"></div>
<div class="p-1" id="formInfo">
  {% csrf_token %}
  <div class="p-5 border-secondary" id="noDataMsg">
    <p class="m-5 text-center">Your repeating transactions will appear here.</p>
  </div>
</div>

{% include "pagination.frag.html" %}

{% endblock %}
