{% extends "budget_base.html" %}

{% block content %}
<form method="post" action="{% url 'modify_budget' %}" autocomplete="off">
    {% csrf_token %}

    <fieldset>
        <div class="form-row form-group">
          <div class="invalid-feedback d-block">
            {{ form.non_field_errors }}
          </div>
        </div>
        <div class="form-row form-group">
          <div class="col-4 col-sm-4">
            {{ form.spending_limit.label_tag }}
          </div>
          <div class="col-8 col-sm-8">
            {{ form.spending_limit }}
            <div class="invalid-feedback d-block">
              {{ form.spending_limit.errors }}
            </div>
          </div>
        </div>
        <div class="form-row form-group">
            <div class="col-4 col-sm-4">
              {{ form.category.label_tag }}
            </div>
            <div class="col-8 col-sm-8">
              {{ form.category }}
              <div class="invalid-feedback d-block">
                {{ form.category.errors }}
              </div>
            </div>
          </div>
      </fieldset>

      <div class="form-row">
        <div class="col-sm-8"></div>
        <input type="submit" id="btn-submit" class="btn btn-primary align-self-end col-sm-3" value="Submit">
      </div>
</form>
{% endblock %}

