<nav aria-label="Pagination Navigation" class="w-100 mt-3 pb-3 text-center">
	<div class="btn-group" role="group">
	{% if page.has_previous %}
		<a class="btn btn-secondary" href="?{{ page.extra_url_params }}page=1">First</a>
		<a class="btn btn-secondary" href="?{{ page.extra_url_params }}page={{ page.previous_page_number }}">Previous</a>
	{% endif %}
	{% if page.paginator.num_pages > 1 %}
		<span class="btn btn-secondary disabled">{{ page.number }} of {{ page.paginator.num_pages }}</span>
	{% endif %}
	{% if page.has_next %}
		<a class="btn btn-secondary" href="?{{ page.extra_url_params }}page={{ page.next_page_number }}">Next</a>
		<a class="btn btn-secondary" href="?{{ page.extra_url_params }}page={{ page.paginator.num_pages }}">Last</a>
	{% endif %}
	</div>
</nav>