{% load filters %}

<form class="row p-1" autocomplete="off" method="post"
    onchange="$(this).find('.save-btn')[0].disabled=false">
  {{ form.data_id }}
  <fieldset class="p-2 pb-1 pt-1">
    <div class="form-row form-group m-1"
        onfocusin="window.forms.accordion($(this).siblings('.accordion-member'))">
      <div class="col-4 col-sm-4 child-w-100 pl-0">
        {{ form.category|addcssclass:'form-control' }}
      </div>
      <div class="col-4 col-sm-4 child-w-100">
        {{ form.spending_limit|addcssclass:'form-control' }}
      </div>
      <div class="col-4 col-sm-4 child-w-100 pr-0">
        {{ form.frequency|addcssclass:'form-control' }}
      </div>
    </div>
    <div class="form-row">
      <div class="col-4 col-sm-4 invalid-feedback d-block m-0 category_error">
        {{ form.category.errors | join:"<br>" }}
      </div>
      <div class="col-4 col-sm-4 invalid-feedback d-block m-0 spending_limit_error">
        {{ form.spending_limit.errors | join:"<br>" }}
      </div>
      <div class="col-4 col-sm-4 invalid-feedback d-block m-0 frequency_error">
        {{ form.frequency.errors | join:"<br>" }}
      </div>
    </div>
    <div class="form-row">
      <div class="invalid-feedback d-block m-0 __all___error">
        {{ form.non_field_errors | join:"<br>" }}
      </div>
    </div>
    <div class="form-group m-1 mt-2 collapse accordion-member">
      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-danger"
          data-action="{% url 'budget_delete_api' %}"
          onclick="window.listManage.delete(event)">Delete</button>
        <div id="saveFeedback" class="pt-2 pr-2 w-100 text-right text-success" style="display:none">Saved!</div>
        <button type="button" class="btn btn-success save-btn"
          data-action="{% url 'budget_update_api' %}"
          onclick="window.listManage.save(event)" disabled="true">Save</button>
      </div>
    </div>
  </fieldset>
</form>