* {
    box-sizing: border-box;
    outline: none;
}

@font-face {
    font-family: PressStart2P;
    src: url(PressStart2P-Regular.ttf);
}

@keyframes aniHint {
    from {
        color: lightblue;
    }
    to {
        color: silver
    }
}

@keyframes shift {
    from {
        right: -100%;
    }
    to {
        right: 100%;
    }
}

body {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
}

canvas {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 2555, 0.25);
    z-index: 5;
}

#menu {
    list-style-type: none;
    position: relative;
    z-index: 10;
    width: 100%;
    height: 25%;
    margin: 0;
    padding-left: 30%;
    padding-right: 30%
}

#menu button {
    border: none;
    width: 100%;
    margin-right: auto;
    margin-bottom: auto;
    border-radius: 1em;
    font-weight: bold;
    color: black;
    padding: 0.25em;
}

#menu button:hover {
    color: #333;
}

#menu li {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

#startBtn {
    background: linear-gradient(green, palegreen, green);
    box-shadow: green 0em 0em 1em;
    font-size: 3em;
    text-shadow: lightgreen 0em -0.075em 0em;
}

#startBtn:hover {
    box-shadow: palegreen 0em 0em 1em;
}

#startBtn:active {
    background: linear-gradient(darkgreen, limegreen, darkgreen);
    text-shadow: limegreen 0em -0.075em 0em;
}

#hintToggleBtn {
    background: linear-gradient(darkred, red, darkred);
    box-shadow: maroon 0em 0em 1em;
    font-size: 2em;
    text-shadow: orangered 0em -0.075em 0em;
}

#hintToggleBtn:hover {
    box-shadow: hotpink 0em 0em 1em;
}

#hintToggleBtn:active {
    background: linear-gradient(maroon, crimson, maroon);
    text-shadow: crimson 0em -0.075em 0em;
}

#resumeBtn {
    background: linear-gradient(blue, deepskyblue, blue);
    box-shadow: mediumblue 0em 0em 1em;
    font-size: 2em;
    text-shadow: deepskyblue 0em -0.075em 0em;
}

#resumeBtn:hover {
    box-shadow: skyblue 0em 0em 1em;
}

#resumeBtn:active {
    background: linear-gradient(mediumblue, cornflowerblue, mediumblue);
    text-shadow: cornflowerblue 0em -0.075em 0em;
}

#hint {
    position: absolute;
    bottom: 0;
    width: 100%;
    animation: 1s linear infinite alternate aniHint, 30s linear infinite normal shift;
    font-style: italic;
    font-family: serif;
    z-index: 15;
    transition: opacity 1s;
}

#hint a {
    color: turquoise;
}

.hidden {
    visibility: hidden;
}

noscript {
    padding: 1em;
}

.menu-text {
	text-align: center;
	color: white;
	text-shadow: 2px 2px 0 black,
				-2px -2px 0 black,
				2px -2px 0 black,
				-2px 2px 0 black;
}

li.menu-text { 
	font-size: 1.25em;
	padding-bottom: 1em;
}

h1.menu-text {
    font-size: 3em;
    font-family: PressStart2P;
}

@media only screen and (max-height: 500px) {
    h1.menu-text {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    #menu {
        padding-left: 20%;
        padding-right: 20%;
    }
}
