* {
    box-sizing: border-box;
    outline: none;
}

@font-face {
    font-family: PressStart2P;
    src: url(PressStart2P-Regular.ttf);
}

@keyframes aniHint {
    from {
        color: lightblue;
    }
    to {
        color: silver
    }
}

@keyframes shift {
    from {
        right: -100%;
    }
    to {
        right: 100%;
    }
}

body {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
}

canvas {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    filter: blur(0.25em);
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(255, 255, 2555, 0.4),
                                rgba(255, 255, 2555, 0.1));
    z-index: 5;
}

#menu {
    list-style-type: none;
    position: relative;
    z-index: 10;
    width: 100%;
    height: 25%;
    margin: 0;
    padding-left: 30%;
    padding-right: 30%
}

#menu li {
    margin-top: 1em;
    margin-bottom: 1em;
}

#menu button {
    border: none;
    width: 100%;
    margin-right: auto;
    margin-bottom: auto;
    font-weight: bold;
    color: #ddd;
    background: #333;
    padding: 0.4em;
    border-radius: 0.25em;
}

.btn-norm {
    font-size: 1.5em;
}

#menu button:hover {
    box-shadow: white 0em 0em 0.5em;
    background: #222;
}

#menu button:active  {
    background: #000;
}

#startBtn {
    font-size: 2em;
}

#hint {
    position: absolute;
    bottom: 0;
    width: 100%;
    animation: 1s linear infinite alternate aniHint, 30s linear infinite normal shift;
    font-style: italic;
    font-family: serif;
    z-index: 15;
    transition: opacity 1s;
}

#hint a {
    color: turquoise;
}

.hidden {
    visibility: hidden;
}

noscript {
    padding: 1em;
}

.menu-text {
	text-align: center;
	color: white;
	text-shadow: 2px 2px 0 black,
				-2px -2px 0 black,
				2px -2px 0 black,
				-2px 2px 0 black;
}

.menu-text { 
	font-size: 1.25em;
    padding-bottom: 1em;
}

.menu-text h1 {
    font-size: 3em;
    font-family: PressStart2P;
    margin-bottom: 0;
}

@media only screen and (max-height: 500px) {
    h1.menu-text {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    #menu {
        padding-left: 20%;
        padding-right: 20%;
    }
}
