.invalid {
    color: red;
    box-shadow: 0 0 4px 1px red;
}

#flagCounter {
    border: 5px solid #eee;
    padding: 5px;
    float: right;
    color: red;
    font-family: monospace;
    font-weight: bold;
    font-size: 20pt;
    background: #500;
}

table {
    background-color: #eee;
    margin: auto;
}

td.flag {
    background-image: url(/images/flag.png);
    background-size: cover;
    background-repeat: no-repeat;
}

td.flag:hover {
    border-color: lightcyan;
    border-style: solid;
}

td {
    width: 30px;
    height: 30px;
    text-align: center;
}

td.unseen {
    background-color: lightgrey;
    border: 2px outset lightgrey;
}

td:not(.unseen) {
    background-color: white;
    border-color: transparent;
}

td:hover {
    background-color: lightcyan;
}

td:active {
    border-style: inset;
}

td[value="1"] {
    color: blue;
}
td[value="2"] {
    color: green;
}
td[value="3"] {
    color: red;
}
td[value="4"] {
    color: black;
}
td[value="5"] {
    color: darkred;
}
td[value="6"] {
    color: lightseagreen;
}

td.question {
    color: black;
}