.v-center {
    position: relative;
    top: 10rem;
}

body {
    background-image: url(/static/img/grey_ocean.JPG);
}

@media (prefers-color-scheme:dark) {
    .form-side {
        background-color: #223D;
    }
}

@media (prefers-color-scheme:light) {
    .form-side {
        background-color: #CCDC;
    }
}

.abs-footer {
    bottom: 0;
    right: 0;
}

.btn-as-link {
    display: inherit;
    background: inherit;
    border: inherit;
    color: inherit;
    text-decoration: inherit;
    padding: 0;
    margin: 0;
}

.btn-as-link:focus {
    outline: inherit;
}

.btn-as-link:active {
    color: inherit;
}
